body { padding: 0; margin: 0; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; width:1024px;}
h1{font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
p {padding: 0; margin: 0;}
/*1*/
#header{background:#dddddd; height:40px;width:100%;padding: 0; margin: 0;}
#header ul{list-style:none;padding: 0; margin: 0;}
#header_left li a{text-decoration:none; color:#555555;}
#header_right li a{text-decoration:none; color:#555555;}
#header_left li a:hover{color:#333333;}
#header_right li a:hover{color:#333333;}
#header ul{list-style:none;line-height:40px;}
#header_left li{float:left; margin-left:20px;font-size:12px;color:#555555;}
#header_right{position:relative;}
#header_right li{float:right; margin-right:20px;font-size:12px;color:#555555;}
#logo li a{font-size:20px; color:#333333;margin-right:40px;}
#logo li a:hover{color:#333333;}
#breadcrumb{margin-top:20px;padding: 0; color:#555555; font-size:12px;line-height:20px;text-indent: 20px;}  
#breadcrumb a{color:#555555;text-decoration: none;}
#breadcrumb a:hover{text-decoration: underline;}
#currentpage a{color:#5697ce;}
#big_title_en p{font-size:32px; color:#555555;line-height:20px;text-indent: 20px;margin-top:20px;}
#sub_title_cn p{font-size:24px; color:#555555;line-height:20px;text-indent: 20px;margin-top:20px;}
#homepage_post{margin-right:20px;margin-top:-58px;}
#homepage_post ul li{float:right;list-style: none;color:#777777; margin-right:20px;font-size:18px;}
#homepage_post ul li a{text-decoration: none; background:#057404;padding:20px;color:white; font-size:18px;border-radius:5px;}
#country_cate{margin-top:90px;margin-left:20px; border-bottom: 1px solid #dddddd;padding-bottom:10px;}
#country_cate p a{color:#777777;text-decoration: none;}
#country_cate p{color:#555555;font-size: 18px;}
.country_selected{color:#5697ce;}
.list_1{margin-top:20px;padding-bottom: 20px;margin-left:20px;height:100%; border-bottom: 1px solid #dddddd;}
.list_1 img{float:left;border:1px solid #dddddd;position: absolute;}
.item_title ul{margin-left:280px;}
.item_title ul li{float: left;list-style:none;margin-right:16px;line-height:20px;}
.item_title ul li a{color:#5697ce;text-decoration: none; font-size:14px;}
.first_title{font-size:24px; color:#2e2e2e;}
.item_content_1{margin-top:32px;width:600px;font-size:12px;color:#555555;position:absolute;}
.hot_destination li{float:left; list-style: none;line-height:20px;margin-right:16px;}
.hot_destination li a{text-decoration: none;}
.hot_destination_title{font-size:14px;}
.buyer_trip{margin-top:-36px;}
.wizard {margin-left:-20px; position:absolute;width:1024px;height:40px;}
.wizard ul li{list-style:none;float:left;margin-right:12px; font-size:14px; color:#555555;background: #f3f3f3; padding:10px;}
#wizard_current{background: #5697ce; color:white;}
.wizard_current a{text-decoration: none; }
#ordering_form{clear: both;margin-left:20px;margin-top:70px; position:absolute;}
#ordering_form h2{font-size:18px;}
form{font-size:14px;color:#555555;margin-top: 20px;}
.form_title{font-size:14px;color:#555555;margin-bottom:16px;margin-top:10px;border:1px solid #dddddd;padding:5px;}
form textarea{border:1px solid #dddddd;margin-top:8px;}
form input{margin-right:10px;}
.submit{background:#067505; color:white;font-size:14px;padding:10px;margin-bottom: 40px;margin-top:16px;}
.sub_description{margin-top:16px;font-size:12px;}
.buyer a{text-decoration: none;color:#5697ce;}
.buyer_trip a{text-decoration: none;color:#5697ce;}
table{width:390px;margin-top:20px;}
#check_list_table{width:700px;margin-top:20px;}
#check_list_table_2{width:340px;margin-top:10px;}
table,td{border-bottom:1px solid #dddddd;border-collapse:collapse;}
#table_header{background:#f3f3f3; border:none;}
th,td{padding:10px;}th{text-align:left;}
.form_checkbox{font-size:12px;margin-top:16px;}
.table_content{color:#777777;}
#confirm_section_form{border:1px solid #dddddd;height:220px;width:700px;margin-left:20px;margin-top:80px;padding:20px;position: absoulte;}
#receiver{border:1px solid #dddddd;height:415px;width:700px;margin-left:20px;margin-top:20px;padding:20px;position: absoulte;}
#check_list{border:1px solid #dddddd;height:380px;width:700px;margin-left:20px;margin-top:20px;padding:20px;position: absoulte;}
#address_area{margin-left:-40px;margin-top:-10px;}
#address_area ul li{list-style: none;float: left; margin-right:8px;line-height:20px;}
.submit_btn{background:#067505; color:white;font-size:14px;padding:10px;margin-bottom: 40px;margin-top:16px;float:right;}
.total_money{line-height: 20px;margin-top:40px;margin-left:360px;position:absolute;}
.money_highlight{color:orange;}
.exchange_documents a{font-size:12px; color: #5697ce; text-decoration: none;}
.order_success_title{margin-top:60px;margin-left:20px;line-height:20px;width:500px;color:#067505;font-size:12px;}
.track_order{font-size:12px;color:#5697ce;margin-left:20px;margin-top:20px;}
#check_list_table{margin-left:20px;margin-top:20px;}
.down_payment_btn{background:#067505; color:white;font-size:14px;padding:10px;margin-bottom: 40px;margin-top:50px;margin-left:20px;float:left;}
.total_money_2{line-height: 20px;margin-top:40px;margin-left:20px;position:absolute;}
.downpayment_tooltip{font-size:12px;color:#555555;margin-left:20px;margin-top:20px;position:absolute;}
.item_ID{color:#777777;}
.cancel_order{font-size:12px;color:#5697ce;float:right;}
.current_step{color:#067505;}
.paypal{color:red;font-size:12px;position:absolute;margin-left:120px;margin-top:60px;}
.order_received{margin-top:60px;margin-left:20px;line-height:20px;width:500px;color:#067505;font-size:14px;font-weight:bold;}
.buyer_ceritficate a{color:#5697CE;font-size:12px;text-decoration: none;}
.purchase_complete{width:1024px;margin-left:20px;margin-top:80px;border:1px solid #eeeeee;margin-bottom: 20px;}
.purchase_complete_received{width:1024px;margin-left:20px;border:1px solid #eeeeee;height:480px;}
.purchase_complete_2{width:1024px;position:absolute;margin-left:20px;margin-top:80px;border:1px solid #eeeeee;height:360px;}
#purchase_complete_title{color:#067505;background:#dddddd;padding:16px;line-height: 16px;margin-bottom:20px;}
.purchase_detail{list-style: none;font-size:12px;padding:0px;margin-left:20px;}
.purchase_detail li{margin-bottom: 10px;color:#555555;}
.item_content{padding:0px; margin-left:20px;margin-top:0px;width:512px;}

.item_content li{list-style:none;float:left; padding:0px;}
.item_content_details{width:500px;font-size:14px;padding-bottom:12px;}
.item_content_details li{list-style: none;}
.item_content_image{float:left;margin-right:16px;border: 1px solid #eeeeee;}
.receipt{margin-top:580px;position:absolute;width:1024px; color:#555555;margin-left:20px;}
.exchange_documents_two a{font-size:12px; color:#5697ce; text-decoration:none;float:right;margin-top:60px;margin-right:400px;margin-bottom:40px;}
.receipt_2{margin-top:450px;position:absolute;width:1024px; color:#555555;margin-left:20px;}
.tax_detail{margin-top:630px;position:absolute;width:1024px; color:#555555;margin-left:20px;}
.search_bar{margin-top:20px;border:1px solid #dddddd;font-size:14px;padding:10px;width:600px;margin-left:100px;margin-right:auto;}
.search_btn a{font-size:14px;color:#555555;text-decoration:none;}
.post_btn{float:right;background:#067505;color:white;margin-top:20px;padding:10px 20px;}
.country_list{width:200px;background:#5697ce;margin-top:55px;margin-left:20px;padding-top:20px;color:white;height:350px;padding:20px;}
.country_list li{list-style:none;font-size:12px;float:left;margin-right:10px;margin-bottom:10px;}
country_list{width:600px;}
.country_list_title{font-size:14px;}
.poster{position:absolute;margin-left:44px;margin-top:-406px;}
.promotion{float:right;widht:400px; font-size:12px;position:absolute;margin-top:-400px; margin-left:1010px;}
.promotion_info{width:600px;margin-left:970px;position: absolute;margin-top:-340px;}
.promotion_info li{float:left;text-align: center;list-style:none; margin-right:16px;font-size:12px;}
.promotion_list li{list-style: none; font-size:12px;margin-bottom:6px;}
.ongoing_trip_title{margin-left:10px;font-size:14px;}
.ongoing_trip{position: absolute;margin-left:400px;margin-top:10px;}
.promotion_list{position:absolute; padding:0px;margin-left:1010px;margin-top:-300px;}
#promotion_list_title{font-size:14px;}
.first_floor{padding:0px;position:absolute;margin-left:20px;font-size:12px;}
.first_floor p{padding:0px;}
.first_floor_title{font-size:18px;}
.first_floor_list li{list-style: none; float:left;margin-right:10px;width:280px;}
.ongoing_trip{position:absoulte;padding:0px;margin-top:0px;margin-left:900px;font-size:12px;}
.will_go{position:absoulte;padding:0px;margin-top:220px;margin-left:900px;font-size:12px;margin-bottom:40px;}
.go_date{font-size:12px;}
.go_date_title{color:white;background:#777777;padding:3px;}
.request_btn{font-size:16px;color:white;padding:1px;background:#067505;width:60px;float:right;line-height:30px;text-align: center;margin-top:-160px;margin-left:700px;position:absolute;}
.trip_list ul{margin-left:20px;}
.trip_list ul li{float: left;list-style:none;margin-right:16px;line-height:20px;}
.trip_list ul li a{color:#5697ce;text-decoration: none; font-size:14px;}
.trip_list_1{padding-bottom: 20px;margin-left:20px;height:100%; border-bottom: 1px solid #dddddd;width:760px;}
.trip_list_1 img{float:left;border:1px solid #dddddd;position: absolute;}
.tips_title{font-size:14px;padding:0px;margin:20px;}
.tips_list{width:800px;margin-bottom:200px;}
.tips_list li{list-style: none;float: left;width:200px;height:150px;border:1px solid #dddddd;margin-left:20px;}
.buyer_destination_list{list-style: none;font-size:14px;}
.buyer_destination_list li{margin-bottom:10px;}
#buyer_destination{border:1px solid #dddddd;margin-bottom:20px;margin-left:20px;width:690px;}
.buyer_profile{width:1000px;height:80px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;margin:20px;}
.buyer_profile_detail{padding:0px;margin-left:-40px;float:left;}
.buyer_profile_detail li{list-style:none;font-size:14px;margin-bottom:10px;}
.profile_img{float:left;padding:16px;}
.trip_number{font-size:12px;padding:0px;margin-top:-60px;margin-left:180px;}
.buy_number{font-size:12px;padding:0px;margin-top:-15px;margin-left:250px;}
.buy_details_two{float:right;}
.buy_details_two li{float:left;list-style:none;font-size:12px;margin-right:10px;}
.buy_details_two_highlight{background:green;color:white;padding:3px;}
.buyer_said_title{font-size:18pxï¼›}
.buyer_said{margin-left:40px;clear:both;}
.buyer_said_date{padding:0px;clear:both;}
.buy_said_sub_title_1{font-size:16px;color:#999999;}
.buyer_said_date li{float:left;font-size:12px;list-style:none;padding:0px;margin-right:10px;}
.buy_said_sub_title_1{clear:both;margin:40px;}
.buy_said_sub_title_1_content{font-size:14px;width:700px;clear:both;margin-left:40px;margin-top:-26px;padding:10px;border:1px solid #dddddd;}
.buy_said_sub_title_2{clear:both;margin-left:40px;margin-top:20px;color:#999999;}
.buy_said_sub_title_2_list li{float:left;list-style: none;text-align:center;widht:100px;border:1px solid #dddddd;padding:16px;margin-right:16px;margin-bottom:16px;}
.buy_said_sub_title_2_list{width:700px;}
.expensense_details{padding:10px;width:340px;margin-left:40px;margin-top:-30px;}
.expensense_details li{list-style: none;font-size:12px;margin-bottom:12px;}
.expensense_deails_hl{color:white;padding:3px;background:#555555;}
.expensense_details_2{padding:10px;width:340px;margin-left:180px;margin-top:-90px;}
.expensense_details_2 li{list-style: none;font-size:12px;margin-bottom:12px;}
.trip_evidence li{float:left;list-style:none;margin-top:-20px;margin-bottom:60px;} 
.big_request{color:white;background:green;padding:20px;font-size:16px;width:80px;height:20px;margin-top:180px;position:absolute;margin-left:40px;text-align:center;}
