@charset"utf-8";
/* url */
.url-info .tit,
.url-info .detail { float: left; width: 12% }
.url-info .detail { width: 86%; color: #0033CC; }
/* 图片展示 */
.box-gallery { padding: 10px; border: 1px solid #dfdfdf; border-radius: 2px; background: #fff; -webkit-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.2); }
.box-gallery .title { margin: 0 0 10px; }
.box-gallery .description { padding: 0 0 10px; line-height: 1em; border-bottom: 1px solid #ddd; }
.box-gallery .maincontent { padding: 10px 0 0; }
.box-gallery .img-big { position: relative; width: 300px; height: 300px; text-align: center; overflow: hidden; }
.box-gallery .img-big img { margin-top: 50%; -webkit-transform: translateY(-50%); }
.box-gallery .img-small { width: 280px; padding: 10px; font-size: 0; overflow: hidden; }
.box-gallery .img-small ul { margin-left: -10px; }
.box-gallery .img-small li { display: inline-block; *display: inline; margin-left: 10px; }
.box-gallery .img-small li a { display: block; padding: 2px; border: 2px solid #fff; opacity: 0.7; filter: alpha(opacity=70); }
.box-gallery .img-small li a:hover,
.box-gallery .img-small li.active a { border-color: #de533c; opacity: 1; filter: alpha(opacity=100); }
.box-gallery .img-small img { width: 40px; height: 40px; }
.box-gallery .info-box .con-item { padding: 10px 0; border-bottom: 1px solid #ddd; }
.box-gallery .info-box .numA { color: #f00; font-size: 30px; }
.box-gallery .info-box .numB { font-size: 20px; }
.box-gallery .info-box .price { line-height: 50px; }
.box-gallery .info-box .freight { padding: 0 0 10px; }
.box-gallery .info-box .tax { padding: 0 0 10px; }
.box-gallery .info-box .delete { text-decoration: line-through; }
.box-gallery .info-box .size { display: inline-block; height: 30px; line-height: 30px; margin: 0 10px 10px 0; padding: 0 5px; background: #ccc; color: #fff; text-decoration: none; }
.box-gallery .info-box .size:hover,
.box-gallery .info-box .size.choosed { background: #f59d00; }
.box-gallery .info-box .detail-info { padding: 10px 0 0; }
.box-gallery .info-box .choose-info .name { margin-bottom: 10px; }
.box-gallery .info-box .amount-opt { display: inline-block; height: 30px; line-height: 30px; vertical-align: middle; }
.box-gallery .info-box .amount-increase,
.box-gallery .info-box .amount-decrease { display: inline-block; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 16px; font-weight: bold; border: 1px solid #ddd; vertical-align: middle; cursor: pointer; }
.box-gallery .info-box .amount-input { width: 100px; margin: 0; vertical-align: middle; }
.box-gallery .info-box .btn { width: 150px; height: 36px; padding: 0; line-height: 36px; font-size: 18px; font-weight: bold; letter-spacing: 0.2em; }

.box-gallery .info-box .other-info{margin: 0;}
.box-gallery .info-box .other-info .tit,
.box-gallery .info-box .other-info .cont{float: left;width: 60px;}
.box-gallery .info-box .other-info .cont{width: 280px;}
.box-gallery .info-box .other-info .cont textarea{margin: 0;width: 280px;font-size: 12px;}
.tab-bar { height: 40px; line-height: 40px; margin: 20px 0; background-color: #ededed; }
.tab-bar a { display: inline-block; padding: 0 15px; color: #333; text-decoration: none; font-size: 18px; }
.tab-bar a.cur { background-color: #de533c; color: #fff; font-weight: bold; }
.box-show {margin: 0;}
.box-show .content { padding: 10px; }