@charset"utf-8";
.layer-login .control-label{width: 50px;}
.layer-login .controls{margin-left: 10px;}
.layer-login .span7{border-left:1px solid #eee;}
.layer-login .box-btn{margin-left: 60px;}
.layer-login .btn{width: 80px;}